@{
    ViewBag.Title = "Contact";
}
<div class="well"
<h2><font size="6">@ViewBag.Title</font></h2>
<h3>@ViewBag.Message</h3>

<address>
    Tintyava Street 15-17<br />
    Sofia, Bulgaria 1000<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@healthhub.com">support@healthhub.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@healthhub.com">marketing@healthhub.com</a>
</address>
</div>