@{
    ViewBag.Title = "Home Page";
}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class='col-md-8'>
            <p><font size="10" face="Ubuntu"color="772953">Ползите от спорта</font></p>
                <p>
                    Вероятно сте чували безброй пъти, че да спортувате, е "добре за вас". Но знаете ли, че спортът действително може да ви помогне да се чувствате по-добре? Правилното спортуване ще ви осигури достатъчно енергия и дори може да подобри настроението ви.
                </p>
                <link href="~/Images/Resize.css" rel="stylesheet" />
                <img src="~/Images/kids-featured-image.jpg" width="700"/>
                <p>
                    Според експертите учениците имат нужда от 60 или повече минути умерена до интензивна физическа активност на ден. Ето някои от причините за това:
                </p>
                <p>
                    - Физическите упражнения са полезни за всички части на тялото, включително и за мозъка. Упражненията стимулират организма да произвежда ендорфини – химически вещества, които помагат на човек да се чувства по-спокоен и щастлив. Упражненията помагат на някои хора да спят по-добре. Те могат също да помогнат на хора, които имат лека форма на депресия или ниска самооценка. Освен това упражненията пораждат чувство на удовлетворение и гордост след постигането на определени цели – например, когато човек подобри постижението си в 100-метров спринт.
                </p>
                <p>
                    - Упражненията могат да ви помогнат да изглеждате по-добре. Хората, които спортуват, горят повече калории и изглеждат по-тонизирани от тези, които не спортуват. Всъщност спортуването е един от най-важните компоненти за поддържане на теглото в здравословни граници.
                </p>
                <p>
                    - Упражненията помагат на хората да намалят теглото си, както и риска от някои заболявания. Спортуването и поддържането на нормално тегло намалява риска от развитие на някои болести, включително диабет тип 2 и високо кръвно налягане. Тези заболявания, които в миналото бяха по-характерни за възрастните, стават все по-чести и при тийнейджърите.
                </p>
                <p>
                    - Упражненията помагат на човек да поддържа добро здраве и в по-напреднала възраст. Това може да не ви изглежда важно сега, но тялото ви ще ви благодари по-късно. С напредване на възрастта жените стават особено податливи на заболяване, наречено остеопороза (изтъняване и загуба на плътсност на костите). Изследвания са установили, че упражнения като скачане бягане или бързо ходене могат да помогнат на момичетата (и момчетата!) да запазят костите си здрави.
                </p>
                <hr color="000000" />
                <p><font size="10" face="Ubuntu" color="772953">Здравословно Хранене</font></p>
                <p>
                    Здравословното хранене е балансирана консумация на храна,Храните, особено тези от растителен произход, са богати източници на биологично активни съединения, които не са хранителни вещества, но оказват влияние върху здравето на човека. Пълноценното хранене изисква консумация на разнообразна храна. Това може да се постигне, kато в диетата се включат храни от различните хранителни групи. Препоръчително е в отделните дни да се избират различни представители на тези групи. При децата количеството на консумираните храни е по-малко.
                </p>
                <img src="~/Images/4-Steps-to-Healthy-Nutrition-fruits-and-vetables-e1466079080866.jpg" width="700"/>
                <p>

                </p>
                <p><font size="5" face="Ubuntu" color="772953">Защо е толкова важно да дъвчем храната добре?</font></p>
                <p>
                    Когато дъвчем старателното храната, даваме време на слюнката да отдели ензим, наречен птиалин, който е отговорен за разграждането на въглехидратите. Когато не дъвчем както трябва, храната продължава пътя си надолу в хранопровода и без този ензим хранителните вещества не се разграждат пълноценно. Поради това, тялото трябва да се труди двойно, за да премахне всичко, от което не се нуждае.
                </p>
                <p>
                    Когато не сдъвкваме храната правилно, предотвратяваме правилното отделяне на ензими и караме някои органи да работят повече от нужното, за да разградят определени вещества. Още повече, когато не дъвчем както трябва храната и затрудняваме разграждането на храната, тялото става неспособно да разделя добре полезните хранителни вещества от токсините, което предизвиква недохранване и отравяне на тялото.
                </p>
   
            </div>
        <div class='col-md-4'>
            @Html.Partial("_SidebarPartial")
        </div>
       </div>
    </div>
    <hr />

