@{
    ViewBag.Title = "Home";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class='col-md-8'>
            <p><h1 class="h2-custom">Ползите от спорта</h1></p>
            <p>
                Вероятно сте чували безброй пъти, че да спортувате, е "добре за вас". Но знаете ли, че спортът действително може да ви помогне да се чувствате по-добре? Правилното спортуване ще ви осигури достатъчно енергия и дори може да подобри настроението ви.
            </p>
            <link href="~/Images/Resize.css" rel="stylesheet" />
            <img src="~/Images/kids-featured-image.jpg" width="700" />
            <p>
                Според експертите учениците имат нужда от 60 или повече минути умерена до интензивна физическа активност на ден. Ето някои от причините за това:
            </p>
            <p>
                - Физическите упражнения са полезни за всички части на тялото, включително и за мозъка. Упражненията стимулират организма да произвежда ендорфини – химически вещества, които помагат на човек да се чувства по-спокоен и щастлив. Упражненията помагат на някои хора да спят по-добре. Те могат също да помогнат на хора, които имат лека форма на депресия или ниска самооценка. Освен това упражненията пораждат чувство на удовлетворение и гордост след постигането на определени цели – например, когато човек подобри постижението си в 100-метров спринт.
            </p>
            <p>
                - Упражненията могат да ви помогнат да изглеждате по-добре. Хората, които спортуват, горят повече калории и изглеждат по-тонизирани от тези, които не спортуват. Всъщност спортуването е един от най-важните компоненти за поддържане на теглото в здравословни граници.
            </p>
            <p>
                - Упражненията помагат на хората да намалят теглото си, както и риска от някои заболявания. Спортуването и поддържането на нормално тегло намалява риска от развитие на някои болести, включително диабет тип 2 и високо кръвно налягане. Тези заболявания, които в миналото бяха по-характерни за възрастните, стават все по-чести и при тийнейджърите.
            </p>
            <br />
            <div class="fb-comments" data-href="https://localhost:44340/Article/Details/3" data-width="700" data-numposts="20"></div>
            <hr color="000000" />
            <p><h1 class="h2-custom">Здравословно Хранене</h1></p>
            <p>
                Здравословното хранене е балансирана консумация на храна,Храните, особено тези от растителен произход, са богати източници на биологично активни съединения, които не са хранителни вещества, но оказват влияние върху здравето на човека. Пълноценното хранене изисква консумация на разнообразна храна. Това може да се постигне, kато в диетата се включат храни от различните хранителни групи. Препоръчително е в отделните дни да се избират различни представители на тези групи. При децата количеството на консумираните храни е по-малко.
            </p>
            <img src="~/Images/4-Steps-to-Healthy-Nutrition-fruits-and-vetables-e1466079080866.jpg" width="700" />
            <p>

            </p>
            <p><font size="5" face="Ubuntu" color="772953">Защо е толкова важно да дъвчем храната добре?</font></p>
            <p>
                Когато дъвчем старателното храната, даваме време на слюнката да отдели ензим, наречен птиалин, който е отговорен за разграждането на въглехидратите. Когато не дъвчем както трябва, храната продължава пътя си надолу в хранопровода и без този ензим хранителните вещества не се разграждат пълноценно. Поради това, тялото трябва да се труди двойно, за да премахне всичко, от което не се нуждае.
            </p>
            <p>
                Когато не сдъвкваме храната правилно, предотвратяваме правилното отделяне на ензими и караме някои органи да работят повече от нужното, за да разградят определени вещества. Още повече, когато не дъвчем както трябва храната и затрудняваме разграждането на храната, тялото става неспособно да разделя добре полезните хранителни вещества от токсините, което предизвиква недохранване и отравяне на тялото.
            </p>
            <br />
            <div class="fb-comments" data-href="https://localhost:44340/Article/Details/2" data-width="700" data-numposts="20"></div>
            <hr />
            <p><h1 class="h2-custom">Бърз метаболизъм - бавен метаболизъм</h1></p>
            <p>За съжаление организмът ни не се подчинява на нашите суетни желания, а на свои собствени и логически биологични закони. Защо културистите, дори когато свалят тегло, пак се хранят доста и на често? Защо най-добрата ви приятелка, за да отслабне, започва да яде по едно пакетче солети на ден и пак остава гладна и дебела? Какво знаят и прилагат атлетите, което убягва на останалите?</p>
            <img src="~/Images/jena-fitnes-voda-qbulka-metur-otslabvane-dieti-metabolizum-93899-500x334.jpg" width="700"/>
            <p>
                Отговорът на загадката се крие в нашия метаболизъм. Постоянно се говори за него - че трябва да се ускори, за да изглеждаме добре.
            </p>
            <p>
                "Бавният метаболизъм" често служи като оправдание за хората, които не могат да отслабнат. Повдигат рамене и казват, че си е до структура, генетика и такъв им бил метаболизмът.
            </p>
            <p>
                Много хора, които напълняват постоянно или не могат да свалят излишните килограми, заявяват: "Имам бавен метаболизъм." Удобно, но невярно. Дори да имате бавен метаболизъм, това не означава, че ви е съдено да сте с наднормено тегло до края на живота ви.
            </p>
            <p>
                От друга страна, всички имаме познати, които поглъщат огромни количества храна, без да повишат теглото си и с грам... И нерядко тайничко им завиждаме, разбира се.
            </p>
            <p>
                Ще се опитаме да разберем дали и доколко предопределен е нашият метаболизъм ни и как влияе начинът ни на живот и хранене върху него.
            </p>
            
            <p><h1 class="h2-custom">Същност на метаболизма</h1></p>
            <p>
                Метаболизъм - това е обмяната на веществата в организма. Съответно метаболизирането е процес на постоянна трансформация на веществата и енергията при процесите на органично съграждане и разграждане.
            </p>
            <p>
                Обмяната на веществата представлява основно свойство на живия организъм и обхваща хиляди отделни реакции, свързани помежду си в метаболитни пътища и вериги. Метаболизмът е съвкупност от два основни и взаимно свързани процеса: анаболизъм и катаболизъм.
            </p>
            <p>
                С термина анаболизъм се означава процесът на усвояване на приетите хранителни вещества, изграждането и обновяването на тъканите.
            </p>
            <p>
                Това са всички реакции, при които организмът синтезира съединения от по-прости предшественици. Те са в основата на растежа, увеличаването на мускулната маса, натрупването на подкожни мазнини и по правило са енергоконсумиращи – използват значителни количества енергия за осъществяването си.
            </p>
            <p>
                Разграждането на веществата до по-прости такива, при което се освобождава енергия, се нарича катаболизъм. Тази енергия може да произхожда от приетите хранителни вещества, но може и да е предварително натрупана в организма под формата на гликоген и мазнини.
            </p>
            <p>
                На пръв поглед анаболизмът и катаболизмът са два противоположни процеса, но всъщност те протичат паралелно – постоянно се синтезират и постоянно се разграждат вещества в организма с цел неговото самообновяване и функциониране. За да се случва това, е необходима енергията, която доставяме чрез храната – тя или "изгаря", или се натрупва в организма (най-вече като мазнини).
            </p>
            <div class="fb-comments" data-href="https://localhost:44340/Home/Index/1" data-width="700" data-numposts="20"></div>
        </div>
        <div class='col-md-4'>
            @Html.Partial("_SidebarPartial")
        </div>
    </div>
</div>
<hr />