
@{
    ViewBag.Title = "View";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class='col-md-8'>
            <p><font size="10" face="Ubuntu" color="772953">10 съвета за подобряване на паметта</font></p>
            
            <link href="~/Images/Resize.css" rel="stylesheet" />
            <img src="~/Images/brain-illustration-1940x900_35269.jpg" width="700"/>
            <p>
                1. Средният човек, — е казал видният психолог професор Карл Сишор, — използува не повече от десет процента от вродените възможности на своята памет. Останалите деветдесет процента пропадат, тъй като той нарушава естествените закони на запомнянето.
                </p>
            <p>
                2. Съществуват три такива „естествени закони на запомнянето”: впечатление, повторение и асоциация.
                </p>
            <p>
                3. Трябва да се получи дълбоко, ярко впечатление за това, което искате да запомните. За тази цел трябва:
                </p>
            <p>
                а) да се съсредоточите. В това се е състояла тайната на паметта на Теодор Рузвелт;
                б) да наблюдавате внимателно. Да получите правилно впечатление. Фотоапаратът не прави снимки при мъгла. Вашето съзнание също така няма да запази мъгляви впечатления;
                в) да получите впечатления с помощта на колкото се може повече органи на чувствата. Линкълн е четял на глас това, което искал да запомни, за да бъде възприятието едновременно и зрително и слухово;
                г) да се стараете преди всичко да получите зрително впечатление. То е по-трайно. Нервите, водещи от окото към мозъка са двадесет и пет пъти по-дебели от нервите, водещи от ухото към мозъка. Марк Твен не е можел да запомни последователността на своето изложение, когато е ползувал записки, но когато хвърлил записките и започнал да използува рисунки за запомнянето на различни теми, всичките му трудности изчезнали.
                </p>
            <p>
                4. Вторият закон на паметта е повторението. Хиляди студенти мюсюлмани знаят Корана, наизуст. Това е книга с обем примерно като на Новия завет. Те постигат това в значителна степен по пътя на повторението. Ние можем да запомним, в разумни граници, почти всичко възможно, ако достатъчно често го повтаряме. Но при повторението трябва да имаме предвид следното:
                а) не повтаряйте текста отново и отново, докато се закрепи във вашата памет. Прочетете текста един или два пъти, след това го оставете, и по-късно отново и отново се връщайте към него. При такъв начин на повторение, с интервали, за да запомните текста, ви е необходимо половината от времето, отколкото при запомняне на един път;
                б) през първите осем часа след като запомним нещо, забравяме толкова, колкото през следващите тридесет дни. Затова преглеждайте си записките няколко минути преди да започнете да говорите;
                </p>
            <p>
                5. Третият закон на паметта е асоциацията. Единственият начин да се запомни даден факт е да се асоциира с друг факт. „Всичко, което възниква в съзнанието, — казва професор Джеймс, — трябва да бъде въведено в него, и веднъж внесено, то влиза във взаимовръзка с това, което вече е било там…Този, който повече обмисля получаваните сведения и установява между тях по-тесни взаимовръзки, ще притежава по-добра памет”.
                </p>
            <p>
                6. Ако искате да асоциирате един факт с други, вече известни ви факти, обмислете новия факт от всички гледни точки. Поставете си такива въпроси: „Защо това е така?”, „Как стана така?”, „Кога става така?”, „Къде става така?”, „Кой е казал, че е така?”
                </p>
            <p>
                7. За да запомните фамилията на непознат човек, задавайте му въпроси по този повод — как се пише фамилията му и т.н. Внимателно се вглеждайте във външността на този човек. Опитайте се да свържете фамилията с лицето му. Разберете с какво се е занимавал и се опитайте да измислите някаква мнемоническа фраза, която да свърже името му със занятието му, както е направила една група, събрала се в Пенсилванския атлетически клуб.
                </p>
            <p>
                8. За да запомните дати, асоциирайте ги със знаменателни дати, които знаете. Например тристата годишнина от рождението на Шекспир съвпада с Гражданската война в САЩ.
                </p>
            <p>
                9. За да запомните последователността на пунктовете на своето изказване, разположете ги така, че едната тема логически да произтича от другата. Освен това вие можете да измислите мнемоническа фраза, включваща основните моменти: „Кравата пушеше пура и ритна Наполеон, а домът изгоря заедно с религиозните култове”.
                </p>
            <p>
                10. Ако, независимо от всички предпазни мерки, внезапно забравите какво сте искали да кажете, можете да избегнете пълен провал като използувате последните думи от последната фраза като първи думи на нова фраза. Може да продължите по този начин докато не си спомните следващия пункт на своята реч.
            </p>
            <br />
            <div class="fb-comments" data-href="https://localhost:44340/Home/Tips/4" data-width="700" data-numposts="20"></div>
            <hr />
            <p><font size="10" face="Ubuntu" color="772953">10 съвета за по-щастлив и здравословен живот</font></p>
            <p>
                Ако искате да живеете по-щастлив и здравословен живот, ето 10 лесни стъпки да го постигнете
            </p>
            <img src="~/Images/655-402-shtastie-svoboda-bezgrizhie-usmivka-nadezhda-radost-zhena.jpg" width="700"/>
            <p>
                1. Постарайте се да имате спокойни сутрини
                Дори 5 минути релаксация сутрин ще ви помогнат да имате по-добро настроение и да сте заредени с повече енергия през деня. Отделете си повече време за закуска, сутрешна гимнастика или медитация, за да започвате деня си по-спокойни и щастливи.
                </p>
            <p>
                2. Намерете време за движение
                Упражненията повишават нивата на ендорфини, засилват имунната система, освобождават ни от стреса и излишното напрежение и ни карат да се чувстваме по-силни и уверени в тялото си. Не е нужно ежедневно да правите интензивни и натоварващи едночасови тренировки в залата, но дори малкото физическо натоварване през деня е идеален лек за духа и тялото.
                </p>
            <p>
                3. Яжте истинска храна
                Преработените бързи закуски покачват нивата на захарта и пълнят тялото ви с ненужни за организма вещества, а и след тях бързо ще почувствате отново глад. Обърнете се към истинската и здравословна храна – пълнозърнести продукти и чисти храни, ако искате да сте по-здрави и по-щастливи.
                </p>
            <p>
                4. Пийте вода
                Когато се чувствате уморени, не посягайте веднага към кофеиновите или захарни напитки. Когато мозъкът е уморен, това много често е знак за дехидратация. Ето защо е хубаво да консумирате достатъчно вода през деня. Така ще бъдете по-енергични и по-здрави.
                </p>
            <p>
                5. Слушайте какво ви казва тялото
                Щастливите хора работят в екип с тялото си, а не срещу него. Оставят вилицата, когато усещат, че са се нахранили, отиват на йога, когато имат нужда да се отпуснат, а и не пият онази „бърза последна бира“, когато усещат, че това няма да им се отрази добре. Ако имате волята и желанието да слушате тялото си, то със сигурност има много неща, които иска да ви каже.
                </p>
            <p>
                6. Зеленчуци, който не яде...
                Зеленчуците не са в чинията ви, защото тялото ви трябва да ги яде, а защото то самото иска да ги яде. Не е нужно да ви обясняваме подробно колко са полезни те и как добре се отразяват на цялостното ви здравословно състояние.
                </p>
            <p>
                7. Инвестирайте във фитнес и здраве
                Не чакайте да се почувствате зле и без настроение, за да се погрижите за себе си. Запишете се да тренирате това, което от доста време ви се струва интересно, отидете на масаж и си запишете онзи час при лекар, който толкова дълго време отлагате.
                </p>
            <p>
                8. Бъдете благодарни
                Когато фокусирате вниманието си върху липсата на нещо, няма да постигнете много, а ще се почувствате още по-нещастни. Позитивните хора не се страхуват да благодарят за всичко в живота – голямо или малко.
                </p>
            <p>
                9. Забавете малко темпото и се усмихнете
                Животът за здравите и щастливи хора не е винаги сериозен. Те намират време за хората, които обичат, а и не се страхуват да са любезни и приятелски настроени към непознатите. Смехът определено помага.
                </p>
            <p>
                10. Постарайте се да си почивате
                Когато се чувствате изморени, не си насрочвайте още някой пореден ангажимен. Трябва да намерите здравословната граница. Понякога е хубаво да останете сами у дома и да презаредите батериите си. Когато е време за сън, изключете компютрите, сложете телефона си в нощното шкафче и просто си легнете.
            </p>

            <br />
            <div class="fb-comments" data-href="https://localhost:44340/Home/Tips/3" data-width="700" data-numposts="20"></div>
            <hr />
            <p><font size="10" face="Ubuntu" color="772953">7 съвета за бързо правене на мускули</font></p>
            <p>Един от най-съблюдаваните закони в бодибилдинга е консумирането на достатъчно протеини, но спазвайки дневния калориен лимит. Тялото Ви се нуждае от протеини, за да расте и това е истина. Обаче достатъчното протеини не винаги водят до натрупване на мускули. Имате нужда също да консумирате и достатъчно калории. Истината е, че ако не консумирате достатъчно калории, няма да натрупате мускули. Едно добро правило за да сте сигурни че приемате достатъчно калории, е  да вземете теглото си и да го умножите по 10 или 12 в зависимост от вашата форма. След това добавете 1000-1500 калории на ден.</p>

            <img src="~/Images/biceps-2_0.jpg" width="700"/>
            <p>
                1. Приемайте много  въглехидрати
                Въглехидратите са Ви нужни, за да Ви зареждат с необходимата енергия за вашите тренировки. Формата за съхраняване на въглехидратите е гликогена. Идеята тук е да се поддържат  нивата на гликоген, за да може тялото никога да не прибягва до своите  протеини, за произвеждане на енергия. Колкото е по-високо нивото на въглехидрати в тялото Ви, толкова е по-вероятно да останете в анаболно състояние. Въглехидратите също играят роля за освобождаването  на инсулин. Както знаете, инсулинът е най-ефикасния анаболичен хормон в тялото.
                </p>
            <p>
                2. Приемайте много  протеини
                Мускулът е протеин, а протеинът е съставен от аминокиселини. Не можете да правите големи мускули без адекватен прием на протеини. Мислете за мускулната маса като градеж на замък с блокчета лего. Ако нямате частичките, с които да започнете, тогава не можете да изградите замъка. Яденето на достатъчно протеини трябва да включва  консумацията на 1-2 грама протеини на 0,45 кг. от теглото. Така че бодибилдър, който тежи около 90 килограма се нуждае от 200 гр. протеини на ден. Най-добрият начин да постигнете  това е да разпределите снабдяването с протеин в по-малки дози през деня, за по-добра абсорбция и асимилация. Добър източник на протеини са  говеждо, пиле, риба, извара и белтъци на яйца.
                </p>
            <p>
                3. Консумирайте  много порции
                Ако приемате 4000 калории всекидневно, добре ще е да консумирате  6 порции храна  на ден. Въпреки че това може да изглежда  много, всъщност не е. Пресметнете – ако разделите 4000 калории на 6 по-малки порции през деня, тогава всяка порция ще се състои приблизително от 660 калории. Въпреки че изисква много дисциплина, яденето на по-малки и чести порции ще Ви се отплати в края. Друга причина да ядете по-малки порции е за освобождаването на инсулина. Когато консумирате храна, нивото на кръвна захар ще се увеличи. За да неутрализира това, тялото Ви ще освободи инсулин, за да намали нивата на кръвната захар, за да помогне на тялото да остане в състояние на хомеостаза.
                </p>
            <p>
                4. Приемайте  достатъчно мазнини
                Една грешка, която бодибилдърите допускат, е отстраняването на мазнините от диетата. Малко от тях  знаят, че мазнините всъщност са важни при мускулния растеж. Между мазнините и нивата на тестостерона има пряка връзка. Добър източник на полезни  мазнини е сьомгата, която съдържа омега-3 мастни киселини, етерични мастни киселини, ленено семе и съединителна линолейна киселина. Ако не можете да си я позволите, просто яжте по – мазна риба, поне 2 пъти в седмицата.
                </p>
            <p>
                5. Пийте много вода
                Много важно правило за постигане на максимален мускулен растеж е,  адекватната консумация на вода. Водата съставлява 70% от тялото и ако сте дехидратирани, мускулите  Ви  също страдат. Доказано е, че един килограм мускули може да задържат  до три килограма вода.
                </p>
            <p>
                6. Използвайте хранителни добавки
                Ако можете да си позволите да използвате добавки, тогава на всяка цена го направете. Защо? Защото те работят! Ние Ви съветваме, да се придържате към основните добавки,  като протеина на прах, креатина, глутамина, ставните  формули и мулти-витамините.
                </p>
            <p>
                7. Почивайте
                Задължително си осигурявайте достатъчно почивка! Ако не почивате, тогава как мускулите Ви ще растат? Много от бодибилдърите си мислят, че мускули се правят в залата….но всъщност мускулите растат по време на почивка. И ако не си давате почивка, бъдете сигурни че мускулите Ви ще се разрушат. Най – добрият вариант е, да отделяте  ден или два за почивка всяка седмица. И помнете, почивните дни са си почивни дни.
            </p>
            <br />
            <div class="fb-comments" data-href="https://localhost:44340/Home/Tips/2" data-width="700" data-numposts="20"></div>
            <hr />
            <p><font size="10" face="Ubuntu" color="772953">10 Съвета за добър метаболизъм</font></p>
            <p>Имате слаба приятелка, която може да изяде огромно количество сладкиш и да не наддаде нито грам? А на вас всичко ви се лепи въпреки строгите ограничения в храненето. Може би имате проблеми с метаболизма.</p>
            <img src="~/Images/maxresdefault.jpg" width="700"/>
            <p>
                1.Не се измъчвайте с гладуване. Драстичното лишаване от храна не дава желания резултат. Организмът възприема гладуването като нещо нормално, остатъчният ви метаболизъм намалява и не сваляте килограми. Количеството калории, които трябва да приема всеки човек, варира в зависимост от теглото, възрастта и степента на активност. То не трябва да пада под 5016 килоджаула на ден.
            </p>
            <p>
                2.Хапвайте малко и често. Този метод регулира кръвната захар и предпазва от импулсивното ядене. Д-р Шомон твърди, че не е за всички. “Някои хора считат, че им помага повече, когато знаят кога и какво ще бъде тяхното следващо ядене.”
            </p>
            <p>
                3. Не забравяйте закуската си. Закуската поддържа нивото на метаболизма след нощта, през която не приемате храна. Когато не закусвате, организмът страда и произвежда кортизол, хормон, който в прекалено голямо количество стимулира възпроизводството на глюкоза, която в крайна сметка се превръща в запас от мазнина.
            </p>
            <p>
                4. Увеличете протеините. Енергията, която се произвежда, за да се преработят протеините в организма, е много повече, отколкото за въглехидратите. Така че яденето на тестени храни, боб и леща може да ни помогне да изразходваме допълнително от 627 до 836 килоджаула на ден.
            </p>
            <p>
                5. Увеличете енергията си. Има много начини да повишите нивото на енергията във вашия организъм, но д-р Шомон препоръчва следното: “Пийте зелен чай, който ви помага да изгаряте калории, докато се храните, приемайте есенциални мастни киселини, коензим Q10 или конюнгирана линолова киселина.”
            </p>
            <p>
                6. Започнете да спортувате. Правете различни тренировки два или три пъти седмично, защото половин килограм мускулна маса изгаря девет пъти повече килоджаули, отколкото половин килограм мазнина. Редовни тренировки на хладно място, за да накарате тялото да повиши температурата си - може да подобри и нивото на метаболизъм до 8 %. Или казано по друг начин, ще изгорите допълнително 418 килоджаула само докато дишате.
            </p>
            <p>
                7. Тренирайте според месечния си цикъл. Изследователката Лиан Редман твърди, че ако правите упражнения две седмици преди месечния си цикъл, можете да свалите до 30% повече мазнини, отколкото обикновено. Качеството на тренировките е по-добро, защото нивото на някои хормони е по-високо в този период.
            </p>
            <p>
                8. Пийте вода.10 съвета за добър метаболизъмНеобходимото количество е поне 2 литра на ден (за активно спортуващите и повече). Дехидратацията прави метаболизма ви неефективен, намалява температурата на тялото и то започва да се запасява с повече мазнини.
            </p>
            <p>
                9. Грижете се за щитовидната жлеза. Щитовидната жлеза е много важна за метаболизма, така че трябва да бъде здрава. Яжте храни, богати на йод (сьомга, водорасли или риба тон) и на витамини В, С и Е, ниацин и цинк (съдържат се в кафявия ориз, пуешкото месо, агнешкото, авокадото и цитрусовите плодове).
            </p>
            <p>
                10. Консумирайте люта храна. Пиперливите чушлета могат да повдигнат нивото на метаболизма. Те помагат на организма да произвежда повече адреналин, който ускорява процеса на изгаряне на мазнините.
            </p>
            <div class="fb-comments" data-href="https://localhost:44340/Home/Tips/1" data-width="700" data-numposts="20"></div>
            <hr />
        </div>
        <div class='col-md-4'>
            @Html.Partial("_SidebarPartial")
        </div>
    </div>
</div>
<hr />