<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Social Links</h3>

    </div>
    <div class="panel-body">
        <a href="http://www.facebook.com/" target="_blank"><img src="~/Images/facebook-icon-preview-1.png" width="30" align="left" /><p>&nbsp; Facebook</p></a>
        <a href="http://www.twitter.com/" target="_blank"><img src="~/Images/Twitter_bird_logo_2012.svg.png" width="30" align="left" /><p>&nbsp; Twitter</p></a>
        <a href="http://www.instagram.com/" target="_blank"><img src="~/Images/Instagram-logo.png" width="30" align="left" /><p>&nbsp; Instagram</p></a>
</div>
</div>
<center><a href="http://www.rabota.bg/" target="_blank"><img src="~/Images/kids-featured-4234image.jpg" width="330" /></a></center>
<br />
<center><a href="http://www.iauto.bg/" target="_blank"><img src="~/Images/mybbright.jpg" width="330" /></a></center>



