<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Latest Articles</h3>
    </div>
    <div class="panel-body">
       
    </div>
</div>
<center><a href="http://www.rabota.bg/" target="_blank"><img src="~/Images/kids-featured-4234image.jpg" width="330" /></a></center>
<br />
<center><a href="http://www.iauto.bg/" target="_blank"><img src="~/Images/mybbright.jpg" width="330" /></a></center>



