<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Most Viewed Articles</h3>
    </div>
    <div class="panel-body">
        Some code here xD

    </div>
    
</div>